body{
    box-size: contain;
    background-image: url(https://img.freepik.com/vetores-premium/fundo-com-tema-de-futebol-em-tons-azuis-com-linhas-abstratas-e-curvas-com-simbolos-esportivos-como-um-estadio-de-jogador-de-futebal-e-bola_444390-24739.jpg?w=2000) 
}


h1{
    border: 12 px solid rgb(255, 255, 255);
    background-color: rgba(102, 118, 235, 0,449);
    padding: 15px;
    text-align: center;
}

h2{
    border: 10px solid;
    border-color: red rgb(3, 168, 0);
    padding: 10px;
    background-color: rgba(102, 118, 235, 0.449);
}


table{
    border:5px solid;
    width: 100%;
    height: 60vh;
    border-color: red rgb(22, 206, 12);
    background-color: rgba(102, 118, 235, 0.449);
}

td,th{
    font-weight: bold;
    text-align: center;
    font-size: 18px
}

.Brasil{
       background-color: yellow;
}

details{
    border: 5px solid;
    border-color: greenyellow;
}

    .local{
        border: 5px solid ;
    }